.errorContainer {
	color: #fff;
	display: flex;
    flex-direction: column;
	margin: 22px 6%;
}

.errorNumber {
    display: flex;
    text-align: center;
	font-size: 76px;
	margin: 12rem 0 1rem 0;

}


