.home_gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #F7F7F7;
    padding: 50px;
    border-radius: 25px;
    width: 90%;
    margin: 0 13px;
    @media screen and (max-width: 1230px){
        gap: 25px; 
        padding:25px 0px;
        background: none;
    }
    @media screen and (max-width: 550px){  
        width: 100%;
    }
}