
.nav_list{
    font-family: 'Monstserrat', sans-serif;
    display: flex;
    gap: 50px;
    color: #FF6060;
    font-size: clamp(12px, 2.5vw, 24px);
    list-style-type: none; 
    @media screen and (max-width: 900px){
        font-size: clamp(19px, 3.5vw, 30px);
    }
    a{
        color: #FF6060;
        text-decoration: none;
    }
}

.nav_list_active{
    position: relative;
    color: #FF6060;
    text-decoration: underline solid #FF6060; 
}


header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 68px;
    max-width: 95%;
    margin: 0 auto;
    @media screen and (max-width: 900px){
        height: 40px;
    }
    img{
        height: 68px;
        width: 210px;
        @media screen and (max-width: 700px){
            height: 40px;
            width: 123px;
        }
        
    }
}