.banner{
    font-family: 'Monstserrat', sans-serif;
    position: relative;
    display: flex;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/banner2.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    max-width: 100%;
    margin: 50px auto;
    p{
        color: #fff;
        font-size: clamp(20px, 4vw, 48px);
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}
