
.banner,.banner_apropos{
    font-family: 'Monstserrat', sans-serif;
    position: relative;
    display: flex;
    border-radius: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/banner.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    max-width: 100%;
    margin: 50px 15px;
    @media screen and (max-width: 550px){
        margin: 20px auto;
        height: 120px;
        max-width: 90%;
        margin-top: 50px;
    }
    &_apropos{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/banner2.png');
    }
    p{
        color: #fff;
        font-size: clamp(20px, 4vw, 48px);
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/banner.png');
    

    &_apropos {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/banner2.png');
    }
}
