.collapse{
    background-color: #FF6060;
    max-width: 1100px;
    font-family: 'Monstserrat', sans-serif;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    margin: 20px auto;
    @media screen and (max-width: 650px){
        width: 90%;
        margin: 12px auto;
        
    }
    
    h3{
        
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: center;  
        border-radius: 10px;
        font-weight: 500;
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px 15px;
        cursor: pointer;
        @media screen and (max-width: 650px){
            font-size: 15px;
            width: 88%;
        }

    }
    p{
        display: flex;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 10px;
        letter-spacing: 1px;
        font-size: clamp(12px, 2vw, 16px);
        color: #FF6060;
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
    }
    &_contenu{
        background-color: forestgreen;
        color: #FF6060;
    }
    &_contenu_cache{
        visibility: hidden;
        opacity: 0;
        height: 0;
        
    }
}
.collapse_contenue{
    background-color: rgba(246, 246, 246, 1);
    color: #FF6060;
     
}


.fleche{
    transition: all 0.2s ease-in-out;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
}
.fleche_haut{
    transform: rotate(0deg);
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
}
.fleche_bas{
    transform: rotate(180deg);
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
}
