.stars
{
    font-size: 30px;
    margin-top: 10%;
    @media screen and (max-width: 650px){
        width: 145px;
        height: 20px;  
    }
}
.star-red
{
    background-image: url("../../assets/star.png");
    height: 30px;
    width: 30px;
}
.star-grey
{
    background-image: url("../../assets/_star.png");
    height: 30px;
    width: 30px;
}

.justify-content-end{
    @media screen and (max-width: 650px){
        margin-right: auto;
        width: 5em;
        /* margin-top: auto; */
        /* height: 24px; */
        top: -2em;
        left: -100px;
        position: relative;
    }
}